* {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  background: #444;
  min-height: 100vh;
}

canvas {
  border: 3px solid wheat;
  border-radius: 10px;

  box-shadow: 8px 8px 20px #222;
  background: #ccc;

  cursor: none;
}
